DATABASE_URL=postgresql://postgres:postgres@localhost:5432/minireachinbox
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-super-secret-jwt-key-change-this
PORT=5000

# Optional Real SMTP Settings (Leave blank to automatically use Ethereal Sandbox)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

